html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.container-fluid {
  min-height:100%;
  position:relative;
}
footer {
  position:absolute;
   bottom:0;
   width:100%;
   height:33px;   /* Height of the footer */
   background-color: #f5f5f5;
   border-top: 1px solid #e5e5e5;
}
